#top{
    background: #F4F4F4;
    border-bottom: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
}
#top a{
    color:#000;
}
#top .topl li{
    float: left;
    padding-left: 13px;
    font-size: 14px;
}
#top a:hover{
    color:#007FFF;
}
#top .topl li>i{
    color:#67AE5E;
    margin-right: 5px;
    margin-left: 2px;
    font-size:14px;
}
#top .topl li>span{
    color:#FE6506;
}
#top .topr li{
    font-size: 14px;
    float: left;
    margin-right: 15px;
}
#top .topr li>a>span{
    color:red;
    font-size: 16px;
}
#top .topr i{
    color:#707070;
    margin-right: 5px;
    margin-left: 4px;
    font-size: 14px;
}

#search .searchl{
    margin-left: 59px;
    margin-right: 151px;
}
#search .searchc{
    padding-top: 42px;
    width: 599px;
    height: 150px;
}
#search .searchc form{
    width: 599px;
    border:3px solid #439C38;
}
#search .searchc form input:nth-child(1){
    width: 499px;
    height: 36px;
    padding-left: 10px;
}
#search .searchc form input:nth-child(2){
    width: 88px;
    height: 36px;
    background-color: #439C38;
    line-height: 36px;
    color:#fff;
    font-size: 18px;
    cursor: pointer;
}
#search .searchcb li{
    margin-top: 17px;
    float: left;
    color:#989898;
    padding-left: 13px;
    padding-right: 15px;
    border-right:2px solid #989898;
}
#search .searchcb li a{
   color:#989898;
}
#search .searchcb li a:hover{
   color:#000;
}
#search .searchr a{
    display: block;
    width: 162px;
    height: 48px;
    border:2px solid #F5F5F5;
    border-radius:13px;
    background-color: #FBFBFB;
    line-height: 48px;
    padding-left: 63px;
    position:relative;
    margin-top: 42px;
    color:#000;

}
#search .searchr i{
    display: inline-block;
    width: 48px;
    height: 48px;
    background-color:#439C38;
    position:absolute;
    left:0px;
    top:-2px;
    border-radius:19px;
    color:#fff;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}


#nav div{
    height: 43px;
}
#nav .gougou>a{
    display: block;
    height: 43px;
    width: 142px;
    border:1px solid #EDE7DB;
    text-align: center;
    line-height: 43px;
    font-size: 18px;
}
.fenlei>a{
    border:1px solid #EDE7DB;
    display: block;
    height: 43px;
    width: 143px; 
    text-align: center;
    line-height: 43px;
    font-size: 18px;
}
#nav .active10{
    background-color: #EDE7DB;
    color:#fff;
}
#nav .fenlei{
    position: relative;
    float: left;
}
#yincang{
    position: absolute;
    left:-142px;
    top:45px;
}

#nav .fenlei ul{
    background-color: #FBFBFB;
    position: absolute;
    left:-142px;
    top:45px;
    z-index: 1;
    display: none;

}
#nav .fenlei ul li{

    height: 64px;
   padding-left: 16px;
   padding-right: 16px;
    width: 285px;
    border-bottom:1px dashed #E2E2E2;
}
#nav .fenlei ul li a{
    float: left;
    display: block;
    color:#000;
    width: 126px;
    height: 64px;
    
    line-height: 64px;
    padding-left: 4px;
    font-size: 16px;
}
#nav .fenlei ul li .lastli{
    color:#67AE5E;
    padding-left: 20px;
}
#nav .fenlei ul li .lastli i{
    float: left;
    color:#ccc;
}
#nav .fenlei #chuxian li:hover{
    border-bottom:1px solid #67AE5E;
}
#nav .fenlei #chuxian li a:hover{
    color:#007FFF;
}

#nav .fenlei ul li a span{
    font-size: 12px;
    color:#ddd;
}
#nav .fenlei ul li a i{
    float: right;
}
#nav .fenlei>a>i,#nav .gougou>a>i{
    margin-left: 6px;
}
/*#nav .fenlei>a:hover,#nav .gougou>a:hover{
    color:#fff;
    background-color: #EDE7DB;
}*/
#nav .container>ul li{
    float: left;
}
#nav .container>ul li a{
    display: block;
    padding-left: 35px;
    width: 154px;
    height: 43px;
    line-height: 43px;
    font-size: 20px;
    font-weight: bold;
    color:#000;
}
#nav .container>ul li a i{
    display: inline-block;
    color:green;
    margin-right: 5px;
    font-size: 20px;
}
#nav .container>ul li a:hover{
    color:#439C38;
}
#nav .container>ul li a:hover i{
    transition:all 0.2s linear;
    transform:rotate(360deg);
}


#banner #light .active{
    background-color:#fff;
    color:#000;
}
#banner #box{
    width: 963px;
    height: 450px;
    background-color: #ccc;
    margin-left:285px;
    position: relative;
    overflow:hidden;
}
#banner #box li{
    width: 963px;
    height: 450px;
    position: absolute;
    left:0px;
    top:0px;
    cursor: pointer;
}
#banner #light{
    width: 963px;
    height: 20px;
    position: absolute;
    left:0;
    bottom: 10px;
    /*background: #ccc;*/
    text-align: center;
}
#banner #light span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #989898;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    margin-right: 9px;
    color:#fff;
}
#banner .container{
    position: relative;
}
#banner .bannerr{
    height: 450px;
    position:absolute;
    right:0px;
    top:0px;
}
#banner .bannerr li{
    border-bottom: 1px dashed #ccc;
    cursor:pointer;
}

#main1{
    margin-top: 37px;
}
#main1 .main1l{
    cursor:pointer;
}
#main1 .main1r{
    width: 1090px;
    height: 575px;
    border:1px solid #ddd;
}

#main1 .main1r .mainrt li{
    width: 180px;
    height: 84px;
    float: left;
    text-align: center;
    font-size: 20px;
    border-bottom:1px solid #ccc;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 20px;
    cursor:pointer;
}
#main1 .main1r .mainrb{
    width: 1088px;
    height: 490px;
    position: relative;
    overflow:hidden;
}
#main1 .main1r .mainrb ul{

    position: absolute;
    left:0px;
}
#main1 .main1r .mainrb li{
    float: left;
    padding-right: 27px;
    cursor:pointer;
}
#main1 .main1r .mainrt .active2{
    color:red;
    font-size: 22px;
    border-bottom:1px solid red;
}
#main2{
    height: 640px;
    margin-top: 65px;
}
#main2 .main2r .main2rt{
    height: 43px;
    width: 1090px;
    position:relative;
}
#main2 .main2r .main2rt ul{
    border:1px solid #E6E6E6;
    border-bottom: 0;
    /*padding-left: 18px;
    padding-right: 18px;*/
}
#main2 .main2r .main2rt ul li{
    cursor:pointer;
    float: left;
    line-height: 43px;
    height: 43px;
    font-size: 18px;
    padding-left: 18px;
    /*padding-left: 18px;
    padding-right: 18px;*/
}
#main2 .main2r .main2rt ul li span{
    border-right: 1px solid #E6E6E6;
    padding-right: 25px;
}
#main2 .main2r .main2rb{
    width: 1090px;
    height: 597px;
    border:1px solid #E6E6E6;
    border-top:1px solid #439C38;
}
#main2 .main2r .main2rt ul li:hover{
    border:1px solid #439C38;
    border-top: 4px solid #439C38;
    border-bottom:1px solid #fff;
    margin-top: -4px;
    height: 47px;
    margin-right: -2px;
    padding-left: 17px;
}
#main2 .main2r .main2rt ul li:hover span{
    border:1px solid #fff;
}
#main2 .main2r .main2rb li{
    float: left;
    height: 298px;
    width: 272px;
    border-right: 1px solid #E6E6E6;
    border-bottom:1px solid #E6E6E6;
}
#main2 .main2r .main2rb li:nth-child(4){
    border-right:0;
}
#main2 .main2r .main2rb li:nth-child(8){
    border-right:0;
}

#main2 .main2r .main2rb li:nth-child(5){
    border-bottom:0;
}
#main2 .main2r .main2rb li:nth-child(6){
    border-bottom:0;
}
#main2 .main2r .main2rb li:nth-child(7){
    border-bottom:0;
}
#main2 .main2r .main2rb li:nth-child(8){
    border-bottom:0;
}
#main2 .main2r .main2rb li img{
    padding-top: 26px;
    padding-left: 55px;
    margin-bottom: 26px;
    cursor:pointer;
}
#main2 .main2r .main2rb li p{
    font-size: 14px;
    padding-left: 15px;
    padding-right: 45px;
    margin-bottom: 9px;
}
#main2 .main2r .main2rb li span{
    font-size: 20px;
    color:red;
    padding-left: 18px;
}
#mt li{
    float: left;
    border-right: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding-right: 17px;
    padding-left: 15px;
    cursor:pointer;
}

#bottom{
    height: 563px;
    background-color:#F4F4F4;
    margin-top: 40px;
}
#bottom .bottomt{
    margin-bottom: 29px;
    border-bottom:1px solid #E4E4E4;
}
#bottom .bottomt li{
    float: left;
    height: 125px;
    padding-right: 47px;
    cursor:pointer;
}
#bottom .bottomc{
    height: 203px;
    margin-bottom: 30px;
    border-bottom:1px solid #E4E4E4;
}
#bottom .bottomc .bottomcl{
    width: 323px;
    height: 203px;
}
#bottom .bottomc .bottomcl p{
    font-size:22px;
    padding-bottom: 26px;
    font-weight: bold;
}
#bottom .bottomc .bottomcl span{
    font-size: 14px;
    font-weight:normal;
}
#bottom .bottomc .bottomcc ul{
    margin-right: 107px;
    float: left;
    width: 69px;
}
#bottom .bottomc .bottomcc ul li{
    font-size: 16px;
    margin-bottom: 12px;
    cursor:pointer;
}
#bottom .bottomc .bottomcc ul li:hover{
    color:red;
    text-decoration:underline;
}
#bottom .bottomc .bottomcc ul li:nth-child(1){
    font-weight: bold;
    margin-bottom: 32px;
}
#bottom .bottomb span{
    margin-right: 26px;
    color:#989898;
    cursor:pointer;
}
#bottom .bottomb span:hover{
    color:red;
    text-decoration:underline;
}
#bottom .bottomb span:nth-child(1){
    margin-right:2px;
}
#bottom .bottomb p{
    margin-top: 32px;
}